.container {
  width: 100%;
}

.pool-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--card);
  color: var(--sec-font-color);
  border-radius: var(--radius-lg);
  padding: var(--space-12);
  border: 1px solid var(--border);
  word-break: break-all;
  margin: 0 0 0.625rem 0;
}



.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--space-12);
}



.nav-pool-header {
  display: flex;
  margin-bottom: var(--space-16);
  margin-top: var(--space-16);
  padding: 0 var(--space-10);
}

@media (min-width: 1024px) {
  .nav-pool-header {
    padding: 0;
  }
}

.nav-link {
  padding: var(--space-8) var(--space-12);
  margin: 0 0.1rem;
  color: var(--font-color);
  text-decoration: none;
  border-radius: var(--radius-s);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-link:first-of-type {
  margin-left: var(--space-0);
}

.nav-link:hover {
  background-color: var(--active-bg-color);
}

.nav-link-active {
  background-color: var(--active-bg-color);
  color: var(--sec-font-color);
}

.content {
  padding: 0 var(--space-10);
}

@media (min-width: 1024px) {
  .content {
    padding: 0;
  }
}