:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --gradient-left: #ffffff;
  --gradient-right: #dee4e7;
  --card: oklch(1 0 0);
  --bgt-color: rgba(255, 255, 255, 0.7);
  --font-color: rgb(74, 85, 104);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #3ca38b;
  --active-bg-color: #cccccc;
  --active-primary-color: #3d9ff0;
  --sec-font-color: rgb(26, 32, 44);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --overview-bg: #42ae95;
  --highlight: #03a9f4;
  --active-primary-color: #3d9ff0;
  --skeleton-bg: #d1d5db;
  --skeleton-bg-dark: #9ca3af;

  --badge-orange-bg: rgba(255, 168, 107, 0.1);
  --badge-orange-text: #ffa86b;
  --badge-yellow-bg: rgba(255, 193, 7, 0.1);
  --badge-yellow-text: #ffc107;
  --badge-info-bg: rgba(13, 202, 240, 0.1);
  --badge-info-text: #0dcaf0;
  --badge-gray-bg: rgba(108, 117, 125, 0.1);
  --badge-gray-text: #6c757d;
  --badge-green-bg: rgba(44, 190, 140, 0.1);
  --badge-green-text: #2cbe8c;
  --red: rgb(155 28 28);
  --badge-padding: 0.25rem 0.5rem;
  --badge-border-radius: 0.5rem;
  --badge-font-size: 0.75rem;
  --green: #81c784;
  --badge-font-weight: 500;
  --badge-red-bg: rgba(255, 33, 8, .25);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --gradient-right: #101317;
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --bgt-color: rgba(25, 28, 30, 0.7);
  --green: #21c187;
  --highlight: #03a9f4;
  --active-primary-color: #3da6f0;
  --red: #f04832;
  --gradient-left: #14191f;
  --gradient-right: #101317;
  --font-color: #9f9f9f;
  --primary: #2cbe8c;
  --active-bg-color: #263238;
  --active-primary-color: #3da6f0;
  --sec-font-color: #e6e6e6;
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.985 0 0);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --overview-bg: #04251385;

  --badge-orange-bg: rgba(255, 168, 107, 0.2);
  --badge-orange-text: #ffa86b;
  --badge-yellow-bg: rgba(255, 193, 7, 0.2);
  --badge-yellow-text: #ffc107;
  --badge-info-bg: rgba(13, 202, 240, 0.2);
  --badge-info-text: #0dcaf0;
  --badge-gray-bg: rgba(108, 117, 125, 0.2);
  --badge-gray-text: #6c757d;
  --badge-green-bg: rgba(44, 190, 140, 0.2);
  --badge-green-text: #2cbe8c;
  --badge-red-bg: rgba(255, 33, 8, .25);
  --badge-padding: 0.25rem 0.5rem;
  --badge-border-radius: 0.5rem;
  --badge-font-size: 0.75rem;
  --badge-font-weight: 500;

  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-black: #000;
  --color-white: #fff;
}
