.address-container {
    display: inline-flex;
    align-items: center;
  }
  
  .address-container .address {
    border: 1px solid transparent;
    padding: 0 4px;
  }
  
  .address-container .address.hovered {
    border: 1px dashed var(--highlight);
    color: var(--active-primary-color) !important;
    border-radius: 2px;
  }
  
  .address-container .no-hover {
    pointer-events: none;
  }