.transaction-hash {
  display: flex;
  align-items: center;
  gap: 8px;
}

.clickable {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
}

.clickable:hover {
  text-decoration: underline;
}

.mono {
  font-family: "Roboto Mono"!important;
}
