.lp-container {
    border: none;
    padding: var(--space-0);
  }
  
  .pie-chart-container {
    display: flex;
    margin-bottom: var(--space-20);
  }
  
  .table-card {
    margin-top: var(--space-20);
  }

  .runeCur {
    height: 1rem;
    fill: currentColor;
    font-size: 1rem;
  }