.iconAssetContainer {
    position: relative;
    width: var(--asset-width);
    height: var(--asset-height);
    margin-right: var(--space-6);
  }
  
  .assetIcon {
    width: var(--asset-width);
    height: var(--asset-height);
    border-radius: var(--radius-full);
  }
  
  .chainAssetIcon {
    border: 1px solid var(--border-color);
    width: var(--chain-asset-width);
    height: var(--chain-asset-height);
    border-radius: var(--radius-full);
    position: absolute;
    right: calc(var(--chain-asset-width) * -1 / 3);
    bottom: calc(var(--chain-asset-width) * -1 / 3);
  }
  
  .isFactory {
    width: calc(var(--asset-width) * 1.7);
  }
  
  .assetGroup {
    width: var(--asset-width);
    height: var(--asset-height);
  }
  
  .leftIcon,
  .rightIcon {
    position: absolute;
    width: var(--asset-width);
    height: var(--asset-height);
  }
  
  .leftIcon {
    left: 0;
  }
  
  .rightIcon {
    left: calc(var(--asset-width) / 1.3);
  }
  
  .assetGroup .assetIcon {
    margin: 0;
  }