.statsSummary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .statsSummary {
    flex-direction: row;
  }
}

.metricItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
  gap: 1.25rem;
}

@media (min-width: 1024px) {
  .metricItem {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 8px 24px;
    width: auto;
    gap: 0.2rem;
  }
}

.metricLabel {
  font-size: 14px;
  margin: 0;
  color: var(--font-color);
  font-weight: bold;
}

.metricValues {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

@media (min-width: 1024px) {
  .metricValues {
    align-items: center;
  }
}

.metricValue {
  align-items: center;
  color: var(--sec-font-color);
  display: flex;
  font-size: 14px;
  gap: 4px;
}

@media (min-width: 1024px) {
  .metricValue {
    font-size: 18px;
  }
}

.metricValue a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.metricValue a:hover {
  color: var(--primary-foreground);
}

.metricSubValue {
  font-size: 0.75rem;
  color: var(--sec-font-color);
  margin-top: 2px;
}

.metricIcon {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.metricItem.withSeparator {
  border-top: 1px solid var(--border);
}

@media (min-width: 1024px) {
  .metricItem.withSeparator {
    border-top: none;
    border-left: 1px solid var(--border);
  }
}
