.arrow-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #76ff03;
  font-size: var(--font-size);
}

.arrow-container svg {
  height: var(--font-size);
  width: var(--font-size);
  fill: #76ff03;
  margin-left: 0.1rem;
}

.down {
  color: #ff1744;
}

.down svg {
  transform: rotate(180deg);
  fill: #ff1744;
}

.netural {
  color: #b0bec5;
}

.netural svg {
  fill: #b0bec5;
}

:global([theme="light"]) .arrow-container {
  color: #4caf50;
}

:global([theme="light"]) .arrow-container svg {
  fill: #4caf50;
}

:global([theme="light"]) .down {
  color: #ff1744;
}

:global([theme="light"]) .down svg {
  transform: rotate(180deg);
  fill: #ff1744;
}

:global([theme="light"]) .netural {
  color: #616161;
}

:global([theme="light"]) .netural svg {
  fill: #616161;
}
